@import url('https://fonts.googleapis.com/css2?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


/* variables */
:root {
   --roboto-100 : 100;
   --roboto-300 : 300;
   --roboto-500 : 500;
   --text-white : rgba(255, 255, 255, 0.952);
  
   --font-100 : .5rem;
   --font-150 : .75rem;
   --font-200 : 1rem;
   --font-250 : 1.25rem;
   --font-300 : 1.5rem;

}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
    margin : 0;
    padding : 0;
    font-family: 'Roboto' , sans-serif;
}

body {
    background-color: #070750;
    overflow-x: hidden;
}
/* header style */
header {
  height: 20vh;
  padding: 2rem 1rem;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav #left-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
}

 #nav-brand{
    min-width: 50px;
    width: 50px;
    position: relative;
    opacity: .8;
 } 

 #nav-brand #brand-name span{
    font-weight: 100;
    color: var(--text-white);
    font-size: var(--font-100);
 }
 
 #brand-name {
     color : #fff;
     position: absolute;
     top: -15%;
     left: 120%;
     opacity: 1 !important;
 }
 


 #left-container #link {
     font-size: 1rem;
     margin-left: 50px;
     text-decoration: none;
     color : var(--text-white);
     font-weight: var(--roboto-300);
     display: none;
 }


 /* right-container */

 #right-container {
     width: 40%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }

 #search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 1rem 1rem;
    background: hsl(230deg 55% 16%);
    border-radius: 10px;
    box-shadow: -1px 1px 8px 2px #070750;
    display: none;
 }



 #search-input {
     width : 80%;
     background:transparent;
     outline:none;
     border:none;
     color: #fff;
 }
  
 #search-icon   {
     font-weight: var(--roboto-100);
     color : var(--text-white);
 }

 span .fas {
     opacity: .9;
     cursor: pointer;
 }

 #Notification-bell {
     font-size: var(--font-200)
 }

 #Notification-bell a {
     color : var(--text-white);
 }

 #Avatar {
     width : 30px;
     height: 30px;
     max-width: 40px;
     max-height: 40px;
     background-image: url(../Image/avatar.jpg);
     border-radius: 50%;
     background-position: center;
     background-size: cover;
     border: 2px solid rgb(34, 188, 194);
     cursor: pointer;
 }

 /* mobile break point */

 @media screen and (min-width : 600px) {
     #Avatar {
         width: 40px;
         height: 40px;
     }
 }
 
 /* Tablet brekapoint */
 @media screen and (min-width : 786px) {
    #search-bar {
        display: block;
    }

    .search-sm-icon {
        display: none;
    }

    #right-container {
        width : 50%;
    }

    #right-container .fas {
        opacity: .4;
        font-size: var(--font-150);
    }
}


 /* carousel */


aside #aside-header {
    padding : .5rem 1.5rem;
}

 #carousel {
     width : 100%;
     display: flex;
     position: relative;
 }

 #carousel .img-container {
     cursor: pointer;
     width: 80%;
     transform: rotateX(30deg);
 }

 .img-container img {
     width: 100%;
     transition: all .3s ease;
 }

 .img-container:nth-child(1)  {
     position: absolute;
     left: 0%;
 }

 .img-container:nth-child(1) img {
     transform: scale(.9);
 }
 
 .img-container:nth-child(2) {
     left: 10%;
     position: relative;
 }

  .img-container:nth-child(3) {
     position: absolute;
     right: -2.5%;
     z-index: -1;
 }

 .img-container:nth-child(3) img {
    transform: scale(.8);
}
 

/*  carousel breakpoints */
/* table  786px*/


#aside-header h1 {
    font-size: var(--font-200);
    color: lightgrey;
    font-weight: var(--roboto-100);
}

 
 /* Letest Release*/
#latest-release {
    padding : 1rem;
}

.song-title {
   font-size: var(--font-200);
   color: var(--text-white);
   font-weight: var(--roboto-300);
}

#latest-release #playlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap : 1rem;
    align-items: center;
    justify-content: space-around;
}

.releases {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .75rem 0;
    width : 100%;
    background-color: #0c0c53;
    padding : .5rem;
}

.card-image #square-image {
    width : 50px;
    height: 50px;
    max-width: 100px;
    max-height: 100px;
    background-image: url(https://a10.gaanacdn.com/gn_img/artists/DwPKOkBKqV/wPKO8PDY3q/size_m.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-image {
  width : 10%;
}

.card-body { 
    width: 90%;
    display: flex;
    justify-content: flex-end
}

.card-body #left-content {
    line-height: 2;
    
}

.card-body #right-content {
    display: none;
}

.card-body #left-content .title {
    font-size: var(--font-150);
    color: var(--text-white);
    font-weight: var(--roboto-300);
}

.card-body #left-content .date {
    font-size: var(--font-100);
    color: #fff;
    opacity: .9;
    font-weight: var(--roboto-100);
    
}

.card-body #right-content .time {
    font-size: var(--font-100);
    color: var(--text-white);
    font-weight: var(--roboto-100);
}


/* breakpoints tablet */

@media screen and (min-width : 786px) {
    #latest-release {
        padding: 2rem;
    }

    .releases {
        width : 100%;
        margin: .5rem 0rem;
    }

    .card-body {
        justify-content: space-around;
    }

    .card-image #square-image {
        width : 75px;
        height: 75px;
    }

    
    .card-body #right-content {
        display: block;
        line-height: 2;
    }

    #right-content .fas {
        color: var(--text-white);
        font-size: var(--font-100);
    }

}

/* Artist section */
#popular-artists  {
    padding : 1rem;
}

#artist-avatars {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    overflow-y:hidden;
    padding: .5rem 0;
}

#artist-avatars .circle-image {
    width : 80px;
    margin-right: 10px;
}

#popular-artists .circle-image .image-container {
    width : 80px;
    height: 80px;
    background-position: center;
    background-size: cover;
}

.image-container img {
    border-radius: 50%;
}



#popular-artists .artist-name {
    font-size: var(--font-150);
    color: var(--text-white);
    font-weight: var(--roboto-300);
    text-align: center;
    margin-top: 5px;
}



@media screen and (min-width : 786px) {
    #popular-artists{
        padding: 0rem 2rem;
    }
}

/* music-station section */
#container #music-stations{
    padding : 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    width: 100%;
}

#music-station-logo {
    width : 150px;
    height : 150px;
    min-width: 100px;
    min-height: 100px;
    align-self: start;
    margin-right: 10px;
    margin-top: 20px;
}

#music-stations .circle-image .image-container {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#music-stations .circle-image  {
    position: relative;
    border: 50%;
}


#music-stations .circle-image::before {
    content: "";
    position: absolute;
    top : 0%;
    left : 0%;
    width : 100px;
    height : 100px;
    background-color:  rgb(18, 8, 77);
    opacity: .7;
    border-radius: 50%;
    z-index: 1;
}



#music-stations .circle-image:nth-child(2) .image-container {
    background:url("../Image/love-jpg.jfif");
    background-position: center;
    background-size: cover;
    
} 


#music-stations  .circle-image:nth-child(3) .image-container {
    background:url("../Image/radio.jpg");
    background-position: center;
    background-size: cover;
} 
#music-stations  .circle-image:nth-child(4) .image-container {
    background:url("../Image/radio.jpg");
    background-position: center;
    background-size: cover;
} 
#music-stations  .circle-image:nth-child(5) .image-container {
    background:url("../Image/chill-mood.jpg");
    background-position: center;
    background-size: cover;
} 
#music-stations  .circle-image:nth-child(6) .image-container {
    background:url("../Image/road-trip.jpg");
    background-position: center;
    background-size: cover;
} 
#music-stations  .circle-image:nth-child(7) .image-container {
    background:url("../Image/Rock.jpg");
    background-position: center;
    background-size: cover;
} 
#music-stations  .circle-image:nth-child(8) .image-container {
    background:url("../Image/pop.jpg");
    background-position: center;
    background-size: cover;
} 

/* circle image innrer text-style */
#music-stations .circle-image .image-container .inner-text {
  color: var(--text-white);
  z-index: 1;
  font-weight: var(--roboto-500);
  text-shadow: 3px 2px 4px black;
}

/* Media query for music stations */
@media screen and (min-width : 786px) {
    #container #music-stations {
       justify-content:space-around;
       overflow-x: hidden;
    }
}

/* Music places */

#music-places {
    padding : .5rem;
    overflow-x: hidden;
}

#music-places .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow:hidden;
}

.place-container {
    width : 300px;
    height : 100px;
    background-position: center;
    background-size: cover;
    transform: scale(.95);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease;
}


.place-container:nth-child(1) {
    background-image: url("../Image/music-party.jfif");
  
}

.place-container:nth-child(2) {
    background-image: url("../Image/Electronic-Music.jpg");
}

.place-container:nth-child(3) {
    background-image: url("../Image/road-trip.jpg");
}

.place-container:hover {
    transform: scale(1.1);
}

.place-container #inner-text {
    font-size: var(--font-200);
    color: var(--text-white);
    font-weight: var(--roboto-500);
    text-shadow: 2px 3px 4px black;
}


@media screen  and (min-width : 786px){
    .place-container  {
        height: 125px;
    }
}

@media screen and (min-width :786px) {
    :root {
        --font-100 : .65rem;
        --font-150 : .95rem;
        --font-200 : 1.15rem;
        --font-250 : 1.25rem;
    }
}


/* language wise song  sectoin*/

#languages-hits{
  padding : 1rem;
  height: auto;
  overflow-x: auto;
}

#languages-hits #container-1 {
    overflow-x: scroll;
}

#languages-hits .song-title {
   position:sticky;
   left: 0%;
}

#languages-hits #song-cards {
    width: auto;
    height: 170px;
    display: flex;
    align-items: center;
    overflow-x: auto;
}


#song-cards #cards {
    width : 200px !important;
    height : 150px;

}

#cards #card-image {
    width : 100px;
    height: 100px;
    transform: scale(.9);
}

#cards #card-content {
    margin-top: 10px;
    background-position: center;
    background-size: cover;
    text-align: left;
    padding-left: .5rem;
}


#cards #card-content #song-title {
    font-size: var(--font-150);
    color: var(--text-white);
}

#cards #card-content #subtitle {
    font-size: var(--font-100);
    color: var(--text-white);
    margin-top: 5px;
    font-weight: var(--roboto-100);
}


#cards:nth-child(1) #card-image {
    background-image: url("../Image/abstract-avatar-1.jpeg");
    background-position: center;
    background-size: cover;
}

#cards:nth-child(2) #card-image {
    background-image: url("../Image/abstract-avatar-2.jpeg");
    background-position: center;
    background-size: cover;
}

#cards:nth-child(3) #card-image {
    background-image: url("../Image/abstract-avatar-3.jpeg");
    background-position: center;
    background-size: cover;
}

#cards:nth-child(4) #card-image {
    background-image: url("../Image/abstract-avatar-4.jpeg");
    background-position: center;
    background-size: cover;
}

#cards:nth-child(5) #card-image {
    background-image: url("../Image/abstract-avatar-2.jpeg");
    background-position: center;
    background-size: cover;
}

#cards:nth-child(6) #card-image {
    background-image: url("../Image/abstract-avatar-3.jpeg");
    background-position: center;
    background-size: cover;
}

@media screen and (min-width : 786px) {
     #cards #card-image {
         transform: scale(1);
     }
}